﻿@page

<div class="row" id="loginBox">
	<div class="col-10 col-sm-8 col-md-6 col-lg-6 col-xl-6 loginBox">
		<div class="row">
			<input class="w-100" type="text" id="userInput" placeholder="Identificador" />
		</div>
		<div class="row">
			<input class="w-100" type="button" id="loginButton" value="Entrar" />
		</div>
	</div>
</div>

<div hidden class="row pl-5" style="height:100%" id="mainContent">
	<div class="col-12 order-last col-md-3 order-md-first" style="background-color:antiquewhite">
		<div class="row chatbox">
			<ul id="messagesList"></ul>
		</div>

		<div class="row" style="position:absolute;width:100%;bottom:0px;">
			<div class="col-10 pr-0 h-100" style="height:60px"><textarea rows="2" wrap="soft"  class="w-100 h-100" type="text" id="messageInput"></textarea></div>
			<div class="col-2 pl-0"><input type="button" id="sendButton" value="Enviar" /></div>
		</div>
	</div>

	<div class="col-12 order-first col-md-9 order-md-last" style="background-color:darkgray">
		<pre hidden id="logelement">CONSOLE LOG <br /></pre>
		<div id="gameboard">

		</div>
	</div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/chat.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
