﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

ul li {
	word-break: normal;
	white-space: normal;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* ------------------------------- */

.loginBox {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -31px; /*set to a negative number 1/2 of your height*/
	margin-left: -100px; /*set to a negative number 1/2 of your width*/
	width: 200px;
	border: 1px solid #ccc;
	background-color: #f3f3f3;
}

.chatbox {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 100px;
}

	.chatbox ul {
		overflow-x: hidden;
		overflow-y: auto;
		bottom: 0;
		left: 0;
		position: absolute;
		width: 97%;
		margin: auto 0 auto 0;
		max-height: 100%
	}

textarea {
	resize: none !important;
}

#sendButton {
	height: 54px;
}